

#nav-menu > a{
  position: relative;
  gap: 10px;
  font-size: 16px;
  color: #cccccc;
  padding: 20px;
  text-decoration: none;
}
#nav-menu > a:hover{
  color: #ffcd21;
}
main{
  background-color: #222527;
  padding: 20px;
}
main > h1{
  font-size: 20px;
  text-align: center;
  color: #ffcd21;
  margin: auto;
  padding: 20px 20px;
}

main > p{
  font-size: 16px;
  color: #cccccc;
  text-align: justify;
}
main #img-princ{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 1rem;
}
main #img-princ img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 .25rem .25rem 0 rgba(255, 205, 33);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main #modos{
  background-color: #2c313b;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
main h2{
  font-size: 20px;
  text-align: center;
  color: #ccc;
  margin: auto;
  padding: 20px 20px;
}
main #modos h2{
  font-size: 20px;
  text-align: justify;
  color: #ffcd21;
  margin: auto;
  padding: 20px 20px;
}